/* .allContent {
  z-index: 1;
} */

/* body {
  font-size: 16px;
} */

.center-container {
  display: flex;
  justify-content: center;
  transform: translate(0%, -90%);
}

@media screen and (max-width: 1200px) {
  .visa-container {
    height: 60px;
  }
}
@media screen and (max-width: 1060px) {
  .visa-container {
    height: 45px;
  }
}

/*Used for section class name imge */

.cart {
  background-color: #4a3297;
  box-shadow: inset 1px 1px 0 #9d44c0, inset 0 -1px 0 #ec53b0;
  height: 165px;
  width: 350px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.im {
  margin-top: 38px;
}
.higine {
  color: whitesmoke;
  padding-left: 30px;
  height: 20px;
  width: fit-content;
  margin-top: 40px;
  font-size: 20px;
  font-style: bold;
  font-weight: 800;
}
.hypo {
  color: whitesmoke;
  height: fit-content;
  width: fit-content;
  margin-left: 33px;
  padding-right: 10px;
  font-size: 15px;
}
.imge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0%, -10%);
}
.primobann {
  display: block;
}
.clc {
  display: block;
  margin: 0 auto;
}
.prim .candy {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}
.candy {
  margin-top: 35px;
  gap: 25px;
}

.fle {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1119px) {
  .cart {
    width: 300px;
  }
  .hypo {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 979px) {
  .cart {
    width: 220px;
    height: 150px;
  }
  .hypo {
    margin-top: 40px;
    font-size: 12px;
  }
  .higine {
    margin-top: 12px;
    font-size: medium;
  }
}
@media only screen and (max-width: 879px) {
  .prim {
    margin-top: 230px;
  }
  .cart {
    height: 140px;
    width: 220px;
    gap: 0px;
  }
  .higine {
    margin-top: 15px;
    font-size: medium;
  }
  .hypo {
    margin-top: 45px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .cart {
    height: 100px;
    width: 180px;
    gap: 0px;
  }
  .hypo {
    margin-top: 10px;
    font-size: 9px;
  }
  .higine {
    font-size: 9px;
    margin-top: 5px;
  }
  .clc {
    height: 120px;
    width: fit-content;
  }
  .im {
    height: 30px;
    width: 40px;
    margin-top: 14px;
  }
  .imge {
    margin-right: 0px;
  }
  .candy {
    gap: 2px;
  }
}
@media only screen and (max-width: 580px) {
  .cart {
    max-width: 158px;
  }
  .im {
    margin-left: 4px;
  }
  .higine {
    font-size: 8px;
    margin-right: 10px;
    margin-left: 0px;
  }
  .hypo {
    font-size: 7px;
    margin-left: 8px;
    margin-top: 20px;
  }
  .im {
    padding-left: 5px;
  }
}

.question {
  max-width: fit-content;
}
.frequentlyQuestion {
  margin-left: 26px;
  padding-top: 25px;
  font-size: 35px;
  font-weight: 100;
}

.tabbed-interface {
  align-items: center;
  font-family: Arial, sans-serif;
  margin-left: 10%;
  margin-right: 5%;
}

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
}

.tab {
  cursor: pointer;
  padding: 10px;
  border-bottom: 2px solid transparent;
}

.tab.selected {
  border-bottom-color: rgb(255, 0, 8);
  color: red;
}

.tab-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.option {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  border: 0.5px salmon;
}

.option.selected {
  background-color: #f0f0f0;
}

.option-content {
  padding: 10px;
  margin-top: 5px;
  background-color: #f0f0f0;
}
