.navbar {
  position: fixed;
  top: 0;
  left: 20px;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffdfd;
  padding: 10px;
  z-index: 1000; /* Make sure the navbar is on top of other content */
}
/* .visa {
display: block;
} */