/* Modal.css */
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-modal {
  /* Customize the size and other styles as needed */
  width: 310px;
  max-width: 90%; /* Ensure it doesn't exceed the viewport */
  height: 400px; /*change the height of modal*/
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  /* border: 1px solid red; */
}

/* login css */
.input-wrapper {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}
.input-modal {
  width: 100%;
  padding: 10px;
  font: 12px font-regular;
  background-color: #ffffff;
  color: #000000;
  /* border: 1px solid darkcyan; */
}
.login-heading-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  /* border: 1px solid red; */
}
.closeBtn {
  padding: 5px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.log-sign-heading {
  font-size: 17px;
  color: #333333;
}
.description {
  margin: 0px 0px 10px;
  color: #333333;
}

.signin-input-email,
.signin-input-password {
  width: 95%;
  height: 40px;
  padding: 0 0 0 15px;
  /* background: #ffffff; */
  background-color: #ffffff;

  border: 1px solid #a6a6a6;
  plceholder {
    text-align: left;
    color: #000000;
  }
}
.signin-input-password {
  margin-top: 10px;
}
.continue-btn {
  margin: 10px 0 5px;
  padding: 1px 8px;
  height: 40px;
  width: 100%;
  background-color: #ef6262;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* border: 1px solid black; */
}
.commonTextGrey {
  font-size: 16px;
  color: #666161;
  text-align: center;
  margin: 5px 0 20px;
}
.google-box {
  cursor: pointer;
  width: 290px;
  height: 42px;
  border: 1px solid #a3a3a3;
  color: #757575;

  display: flex;
  /* justify-content: space-evenly;  */
}

.gLogo {
  padding: 10px;
  width: 20px;
  height: 20px;
}
.gName {
  margin-left: 78px;
  padding: 0% 10px;
  font-size: 16px;
  margin-top: 13px;
}
.signUpBox {
  margin-top: 10px;
  width: 290px;
  height: 40px;
  text-align: center;
  border: 1px solid #a3a3a3;
  color: #757575;
  display: flex;
}
.signUpLink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
