/* SearchBus.css */

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 95px;
}

.banner-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  /* background-color: rgba(255, 255, 255, 0.9); */
  width: 900px; /* Adjust this width as needed */
}

.input-field,
.date-field,
.search-button {
  width: 100%;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
}

.search-button {
  border: none;
  background-color: #f24c3d;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 868px) {
  .search-form {
    width: 80%;
  }
}
