/* TrendingOffer.css */
.crousal {
  max-width: 70%;
  margin-left: 15%;
  background-color: rgb(255, 255, 255);
  padding-left: 40px;
  border-radius: 20px;
  scroll-behavior: smooth;
  padding-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(9, 9, 9, 0.2);
  transform: translate(-5%, -63%);

  position: relative;
}

.card {
  display: grid;
  grid-template-columns: 15% 70%;
  max-width: fit-content;
  padding: 5px;
  justify-content: center;
  width: 310px;
  height: 180px;
  border-radius: 25px;
  flex-wrap: hidden;
  margin: 20px 5;

  position: relative;
}

.icon {
  grid-column: 1;
  grid-row: 1 / span 5;
  justify-self: center;
  margin-top: 60px;
  border-radius: 50%;
  height: 60px;
}

.offer,
.valid {
  grid-column: 2;
  margin-top: -4px;
  margin-left: 50px;
  color: white;
}
.offer {
  font-size: large;
}
.off {
  padding-left: 5px;
  width: fit-content;
  position: absolute;
  top: 165px;
  left: 39%;
  transform: translateX(-50%);
  border-style: dotted;
  margin-left: 16px;
  background-color: rgb(236, 242, 248);
  color: rgb(66, 66, 66);
  
}

.copyToClipboard {
  position: absolute;
  top: 143px;
  left: 55%;
  transform: translateX(-50%);
  width: 25px;
  margin-top: 20px;
  margin-left: 25px;
}

.bus {
  margin-top: 26px;
  margin-left: 50px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
  max-width: fit-content;
  height: fit-content;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.title {
  padding-top: 20px;
  font-size: 25px;
  font-weight: 500;
}

@media (max-width: 1465px) {
  .crousal {
    padding-right: 3%;
  }
}

@media (max-width: 768px) {
  .crousal {
    margin-top: 90px;
    margin-left: 50px;
    padding-right: 32px;
  }
  .card {
    width: 100%;
    padding-left: 5px;
    margin: 5px, 5px;
  }
  .icon{
    height: 40px;
    width: 80px;
  }
  .offer {
    font-size: 15px;
  }
  .valid {
    font-size: 10px;
  }
  .off {
    height: 18px;
    width: 62px;
    font-size: 10px;
  }
  .copyToClipboard {
    height: 22px;
    width: fit-content;
    margin-left: 35px;
  }
}


.popup {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  z-index: 999; /* Ensure the popup appears on top of other content */
}